form{
    width: 60%;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    color: #000;
    z-index: 5;
}

header nav{
    background-color:  #45526e;
}

footer{
    position: visible;
    overflow:auto;
    bottom: 0;
    width: 100%;
    padding: 0;
    background-color: #45526e !important;
}

footer .footer-copyright{
    height: 36px;
    background-color: rgba(0,0,0,0.2);
}

footer img:hover{
    transition: 1s;
    transform: scale(1.2);
}

.contai{
    padding-top: 50px;
}

.exit{
    position: fixed;
    top: 0;
    right: 50px;
    z-index: 10;
    color:#fff;
}
.btn_exit{
    width: 100px;
    background-color:  #45526e;
    color:#fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top:10px;
    padding: 5px;
    text-align: center;
    margin-left: 50px;
}

.btn_exit:hover{
    cursor: pointer;
}

.intro-2 img{
    width: 80%;
    height: auto;
    margin: 50px auto;
    border-radius: 5px;
}
.intro-2 p{
    width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 5px;
}

.card{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto 50px;
}
